body{background-color: aliceblue;
    text-align: center;
}

.Intro1{ font-size: x-large;color: rgb(10, 10, 53); 
    font-weight: bolder;
    margin-bottom: 25px;
}

button{
    background-color:black ;
color: aliceblue;
font-weight: bold;
padding: 12px 10px;
margin-top: 20px;
margin-bottom: 25px;
border-radius: 4px;
cursor: pointer;
width: 35%;
}

label {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}

input[type=email],[type=password]{
    width: 35%;
    padding: 12px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px
}

button:hover {
    background-color: rgb(157, 224, 224);
}

.FP1{font-style: italic; 
    color: rgb(49, 56, 66);
font-weight: lighter;
text-align: center;
margin-top: 70px;}

img{margin-top: 90px;}

input[type="submit"]{ background-color:black ;
    color: aliceblue;
    font-weight: bold;
    padding: 12px 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;}

/*_________________________________________________Navigation Bar__________________________________________________________________________________*/
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

header .logo{
    margin-top: 5px;
    width:75px;
    cursor: pointer;
    background-color: snow;
    float: left;
}
header .navbar{
    position: relative;
    height: 7%;
    display: flex;
    width: 100%;

}

header .navbar ul li{
    list-style: none;
    position: relative;
    float: left;
}
header .navbar ul li a{
    color:whitesmoke;
    font-size: 13px;
    padding: 10px;
    display: block;
    text-decoration: none;
}
header .navbar ul li a:hover{
    background-color: ghostwhite;
    color: black;
    
}
header .navbar ul li ul{
    position: absolute;
    width: 150px;
    background-color: black;
    text-align: center;
    z-index: 1;
    display: none;
}
header .navbar ul li ul li{
    width:100%;
    color: black;

}
header .navbar ul li ul li ul{
    left: 100%;
    top: 0;
}
header .navbar ul li:focus-within >ul,
header .navbar ul li:hover > ul{
    display: block;

}
/*--------------------------------------------------------------------------------------*/
footer a{
    color:black;
    text-decoration: none;
    margin-left: 15px;
}






